<p>Hello <%#= @admin_name %></p>
<h1>New booking Request <%= @booking.user.username %> Room</h1>

 <p>Room Name: <%= @booking.room.name%></p>
 <p>start_date: <%= @booking.start_date%></p>
 <p>end_dtae: <%= @booking.end_date%></p>
 <p>Amount: <%= @booking.amount%></p>
