<%= form_for(@amenity) do |f| %>
  <% if @amenity.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
          <h2><%= pluralize(@amenity.errors.count, "error") %> prohibited this amenity from being saved:</h2>

          <ul>
          <% @amenity.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
      </div>    
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name,class:'form-control' %>
    <p id = 'nameError'></p>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description ,class:'form-control'%>
    <p id = descriptionError></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  nameHandle = document.getElementById('amenity_name');
  nameErrorHandle = document.getElementById('nameError');
  descriptionHandle = document.getElementById('amenity_description');
  descriptionErrorHandle = document.getElementById('descriptionError');

  nameHandle.onblur = function(){
    if(nameHandle.value.length == 0){
      nameErrorHandle.innerHTML = "Can't be blank";
    } else {
      nameErrorHandle.innerHTML = "";
    }
  }
  
  descriptionHandle.onblur = function(){
    if(descriptionHandle.value.length == 0){
      descriptionErrorHandle.innerHTML = "Can't be blank";
    } else {
      descriptionErrorHandle.innerHTML = "";
    }
  }

</script>