<h2>Edit Room </h2>
<%= form_for @room do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br/>
	<%= f.label :description %>
	<%= f.text_area :description %><br/>
	<%= f.label :price %>
	<%= f.text_field :price %><br/>
	<%= f.label :rules %>
	<%= f.text_field :rules %><br/>
	<%= f.label :minimum_days %>
	<%= f.select :minimum_days ,[1,2,3,4,5]%><br/>
	<%= f.label :address %>
	<%= f.text_field :address %><br/>
	<%= f.label :latitude %>
	<%= f.text_field :latitude %><br/>
	<%= f.label :langitude %>
	<%= f.text_field :langitude %><br/>

	<% if current_user.role?"admin" %>
		<%= f.label :is_authorized %>
		<%= f.check_box :is_authorized ,:checked => true %>
	<% end %>	

	<%= f.label :city%>
	<%= f.collection_select :city_id,City.all,:id,:name ,prompt: "Select City"%><br/>
	
	<%= f.submit %>


<% end %>