<h2>Listing Rooms(<%= @rooms.length %>)</h2>

<% if can? "admin",Room.new %> 
	<%= link_to "UnAuthorize" ,rooms_unauthorized_path %> 
<% end %>

<% if can? :myroom ,Room.new %> 
	<%= link_to "MyRoom",rooms_myroom_path %>	
<% end %>

<table class="table">

<thead>
	<tr>
	<th>Name</th>
	<th>Description</th>
	<th>Address</th>
	<th>Price</th>
	<th>Langitude</th>
	<th>Langitude</th>
	<th>is_authorized</th>
	<th>City</th>
	<th>User</th>
	</tr>
</thead>
<tbody>
<% if @rooms.empty? %>
	<%= "Record not found" %>
	<% else %>
	<% @rooms.each do |room| %>
	<tr>
	  	<td><%=link_to room.name,room_path(room.id) %></td>
		<td><%= room.description %></td>
		<td><%= room.address %></td>
		<td><%= room.price %></td>
		<td><%= room.langitude %></td>
		<td><%= room.langitude %></td>
		<td><%= room.is_authorized %></td>
		<td><%= room.city.name %></td>
		<td><%= room.user.username %></td>
		</tr>
	<% end %>
<% end %>	
</tbody>
</table>

<%= link_to "Add Room",new_room_path %>
