<h2>My Rooms</h2>
<table class="table">

<thead>
	<tr>
	<th>Name</th>
	<th>Description</th>
	<th>Address</th>
	<th>Price</th>
	<th>Langitude</th>
	<th>Langitude</th>
	<th>is_authorized</th>
	<th>City</th>
	<th>User</th>
	</tr>
</thead>
<tbody>
<% if @myroom_array.empty? %>
	<%= "Record not found" %>
	<% else %>
	<% @myroom_array.each do |room| %>
	<tr>
	  	<td><%= room.name  %></td>
		<td><%= room.description %></td>
		<td><%= room.address %></td>
		<td><%= room.price %></td>
		<td><%= room.langitude %></td>
		<td><%= room.langitude %></td>
		<td><%= room.is_authorized %></td>
		<td><%= room.city.name %></td>
		<td><%= room.user.username %></td>
		<td><%= link_to "Edit",edit_room_path(room.id) %></td>
		</tr>
	<% end %>
<% end %>	
</tbody>
</table>