<h2> Add Room </h2>
<%= form_for @room do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br/>
	<%= f.label :description %>
	<%= f.text_area :description %><br/>
	<%= f.label :price %>
	<%= f.text_field :price %><br/>
	<%= f.label :rules %>
	<%= f.text_field :rules %><br/>
	<%= f.label :minimum_days %>
	<%= f.select :minimum_days ,[1,2,3,4,5]%><br/>

	<%= f.label :address %>
	<%= f.text_area :address %><br/>
	<p id="addressError"></p>

	<%= f.label :latitude %>
	<%= f.text_field :latitude %><br/>
	<p id = "latitudeError"></p>

	<%= f.label :langitude %>
	<%= f.text_field :langitude %><br/>
	<p id = "langitudeError"></p> 

	<% if can? :update,Room.new %>
		<%= f.label :is_authorized %>
		<%= f.check_box :is_authorized %>
	<% end %>	
	

	<%= f.label :city%>
	<%= f.collection_select :city_id,City.all,:id,:name ,prompt: "Select City"%><br/>

	<%#= f.label :user %>
	<%#= f.collection_select :user_id,User.all,:id,:username ,prompt: "Select User"%><br/>

	<%= f.label :Amenity %>
    <%= f.collection_check_boxes :amenity_ids,Amenity.all,:id,:name %> <br/>
	<%= f.submit %>

<% end %>

<script>
	var addressHandle =  document.getElementById('room_address');
	var addressErrorHandle = document.getElementById('addressError');
	var latitudeHandle = document.getElementById('room_latitude');
	var latitudeErrorHandle = document.getElementById('latitudeError');
	var langitudeHandle = document.getElementById('room_langitude');


	addressHandle.onblur = function(){
		if(addressHandle.value == ""){
			addressErrorHandle.innerHTML = "Can't be blank";
		} else {
			addressErrorHandle.innerHTML = "";	
			var addressSplit= addressHandle.value.split(" ").join("+")
			var xhr = new XMLHttpRequest();
           xhr.open('GET',"https://maps.googleapis.com/maps/api/geocode/json?address="+addressSplit+"&key=AIzaSyBZEUR89PrVcJnWmRCySjIePLjjmGr_VlQ");
           xhr.onreadystatechange = function(){
        		if(xhr.readyState == 4 && xhr.status == 200){
          			var response = JSON.parse(xhr.responseText);
          			      result = response.results;

          			     var latitude = "";
          			     var langitude = "";
          				result.forEach(function(res){
          					 latitude = res.geometry.location.lat;
          					 langitude = res.geometry.location.lng;
          					console.log(latitude);
          					console.log(langitude);
          				});
          				latitudeHandle.value = latitude;
          				langitudeHandle.value = langitude;
          		}		
          	};			
           xhr.send();
		}
	};
</script>