<h2>Listing Unauthorized Rooms</h2>
 <table class="table">
<thead>
	<tr>
	<th>Name</th>
	<th>Description</th>
	<th>Address</th>
	<th>Price</th>
	<th>Langitude</th>
	<th>Langitude</th>
	<th>is_authorized</th>
	<th>City</th>
	<th>User</th>
	</tr>
</thead>
<tbody>
<% if @rooms.empty? %>
	<%= "Record not found" %>
	<% else %>
	<% @rooms.each do |room| %>
	<tr>
	  	<td><%= room.name  %></td>
		<td><%= room.description %></td>
		<td><%= room.address %></td>
		<td><%= room.price %></td>
		<td><%= room.langitude %></td>
		<td><%= room.langitude %></td>
		<td><%= room.is_authorized %></td>
		<td><%= room.city.name %></td>
		<td><%= room.user.username %></td>
		<%# if can? :update,Room.new %>
			<td><%= form_for @room do |f| %>
				<%= f.label :authorize %>
				<%= f.hidden_field :is_authorized ,value: true %></td>
				
				<td><%= f.submit "submit" %></td></td>
			<% end %>
		<%# end %>	

		</tr>
	<% end %>
<% end %>	
</tbody>
</table>
